{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonces</h1>
    <a href="{{ path('annonce_create') }}" class="listing_create_link">Ajouter une annonce</a>
    <div class="listing">
        <ul>
            {% for annonce in annonces %}
                <li class="{{ annonce.reservation ? 'rented' }}">
                    <h2>{{ annonce.title }}</h2>
                    <p>{{ annonce.description }}</p>
                    <p>Prix : {{ annonce.price }} €</p>
                    <p>Type du véhicule : {{ annonce.typeVehicule }}</p>
                    {% if not annonce.reservation %}<a href="{{ path('annonce_rent', {'id': annonce.id}) }}">Louer</a>{% endif %}
                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                    <a href="{{ path('annonce_delete', {'id': annonce.id}) }}">Supprimer</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}